/***Custom Scrollbar***/
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 1px solid rgba(136, 136, 136, 0.336);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.336);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***Custom Scrollbar***/

.prose {
  max-width: unset !important;
}

.-switch-:hover span {
  background: hsl(var(--secondary)) !important;
  opacity: 0.8 !important;
}

.wmde-markdown{
  background-color: unset !important;
  color: unset !important;
}

.light pre {
  background-color: hsl(var(--secondary)) !important;
  color: hsl(var(--text)) !important;
}

.wmde-markdown {
  font-family: unset !important;
}

.code-highlight{
  padding: unset !important;
}

[data-radix-popper-content-wrapper] {
  pointer-events: all !important;
}