block footer-scripts

script.
   const [DOWN, UP] = ['down', 'up'];

   var vertical_direction = DOWN;
   var last_y = 0;

   document.addEventListener('mousemove', e => {
      if (last_y < e.clientY) {
         vertical_direction = DOWN;
      } else {
         vertical_direction = UP;
      }

      last_y = e.clientY;
   });