link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600' rel='stylesheet')
link(rel='stylesheet' href='/assets/plugins/bootstrap/open-iconic-master/open-iconic-master/font/css/open-iconic-bootstrap.css')
link(rel='stylesheet' href='/assets/plugins/bootstrap/fontawesome-free/css/all.min.css')
link(rel='apple-touch-icon' sizes='144x144' href='/assets/apple-touch-icon.png')
link(rel='shortcut icon' href='/assets/favicon.ico')
meta(name='theme-color' content='#3063A0')


block header-scripts