extends base/base-document

block content
    body.dark-skin
        main.auth.auth-floated#app-root
            script(src='/assets/particles/particles.js' sync='true' defer='true')
            include base/importer

            include base/footer-scripts