extends base/base-document
block head
    link(rel='stylesheet' href='/assets/plugins/aos/css/aos.css')
    script(type='text/javascript' src="/assets/plugins/aos/js/aos.js")
block content
    body.dark-skin(data-spy='scroll' data-offset='76')
        .app.app-site.page.has-sidebar.has-sidebar-open#app-root
            include base/importer
    include base/footer-scripts