extends base-document

block content
    .empty-state
        .empty-state-container
            .state-figure
                img.img-fluid(src=`/assets/images/illustration/${error}.svg` alt="" style="max-width: 320px")
            h3.state-header
                block title
                    | #{title}
            .p.state-description.lead.text-muted
                block message
                    | #{message}
            .state-action
                a.btn.btn-lg.btn-light(href="/desk")
                    i.fa.fa-angle-right.pr-2
                    span Home