link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600' rel='stylesheet')
link(rel='stylesheet' href='/assets/plugins/bootstrap/open-iconic-master/open-iconic-master/font/css/open-iconic-bootstrap.css')
link(rel='stylesheet' href='/assets/plugins/bootstrap/fontawesome-free/css/all.min.css')
link(rel='stylesheet' href='/assets/plugins/bootstrap/css/select2.css')


//script(type='text/javascript' src="/assets/plugins/marked/js/marked.min.js")
//script(type='text/javascript' src="/assets/plugins/react/react.production.min.js")
//script(type='text/javascript' src="/assets/plugins/react/react-dom.production.min.js")

script(type='text/javascript' src='/assets/plugins/loopar/js/extends.js')
//script(type='module' src='/global/element-definition.js')
//script(type='module' src='/dayjs.min.js')

link(rel='apple-touch-icon' sizes='144x144' href='/assets/apple-touch-icon.png')
link(rel='shortcut icon' href='/assets/favicon.ico')
meta(name='theme-color' content='#3063A0')

link(rel='stylesheet' href='/assets/plugins/bootstrap/css/theme-dark.min.css' id='theme-style' data-skin='dark' disabled=false)
link(rel='stylesheet' href='/assets/plugins/bootstrap/css/custom.css')

block header-scripts