/***Custom Scrollbar***/
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 1px solid rgba(136, 136, 136, 0.336);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.336);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***Custom Scrollbar***/

.-switch-:hover span {
  background: hsl(var(--secondary)) !important;
  opacity: 0.8 !important;
}

[data-radix-popper-content-wrapper] {
  pointer-events: all !important;
}

.alert {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  border-left: 5px solid;
  background-color: #f9f9f9;
}

.alert-note {
  border-color: #0366d6;
  background-color: #f0f8ff;
}

.alert-important {
  border-color: #d73a49;
  background-color: #fff5f5;
}

.alert-warning {
  border-color: #ffab00;
  background-color: #fff8e1;
}

a:not([class]) {
  color: hsl(var(--primary) / 0.8) !important;
  text-decoration: underline;
}

a:hover{
  color: hsl(var(--primary)) !important;
}