/***Custom Scrollbar***/
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 1px solid rgba(136, 136, 136, 0.336);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.336);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***Custom Scrollbar***/

.prose {
  max-width: unset !important;
}

.-switch-:hover span {
  background: hsl(var(--secondary)) !important;
  opacity: 0.8 !important;
}

.wmde-markdown{
  background-color: unset !important;
  color: unset !important;
  font-family: unset !important;
}

.wmde-markdown pre {
  background-color: hsl(var(--secondary)/0.5) !important;
  color: hsl(var(--text)) !important;
}

.wmde-markdown pre:hover {
  background-color: hsl(var(--secondary)/0.4) !important;
}

.light .wmde-markdown pre {
  background-color: hsl(var(--card)) !important;
}

.wmde-markdown img {
  background-color: transparent !important;
}

.wmde-markdown table tr {
  background-color: unset !important;
  border: unset !important;
}

.wmde-markdown table tr:nth-child(2n) {
  background-color: hsl(var(--secondary)/0.7) !important;
  border: unset !important
}

.wmde-markdown table tr:hover {
  background-color: hsl(var(--primary)/0.5) !important;
}

.wmde-markdown table th, td {
  border: 1px solid hsl(var(--border)) !important;
}

.code-highlight{
  padding: unset !important;
}

[data-radix-popper-content-wrapper] {
  pointer-events: all !important;
}

.alert {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  border-left: 5px solid;
  background-color: #f9f9f9;
}

.alert-note {
  border-color: #0366d6;
  background-color: #f0f8ff;
}

.alert-important {
  border-color: #d73a49;
  background-color: #fff5f5;
}

.alert-warning {
  border-color: #ffab00;
  background-color: #fff8e1;
}

a:not([class]) {
  color: hsl(var(--primary) / 0.8);
  text-decoration: underline;
}

a:hover{
  color: hsl(var(--primary)) !important;
}