.prose {
  max-width: unset !important;
}

.wmde-markdown{
  background-color: unset !important;
  color: unset !important;
  font-family: unset !important;
}

.lp-markdown code {
  background: none !important;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 85%;
}

.lp-markdown pre {
  background: hsl(var(--muted)/0.4) !important;
  /* color: hsl(var(--color) / 0.8); */
  /* color: #c9d1d9; */
  padding: 16px;
  border-radius: 6px;
  overflow-x: auto;
  margin: 0 0 16px 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 85%;
  line-height: 1.45;
}

.cm-editor {
  background: transparent !important;
}

.cm-content.cm-lineWrapping {
  background: transparent !important;
  /* color: hsl(var(--color) / 0.8); */
  /* color: #c9d1d9; */
  padding: 16px;
  border-radius: 6px;
  overflow-x: auto;
  margin: 0 0 16px 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-size: 85%;
  line-height: 1.45;
}

.lp-markdown pre code {
  background: none;
  padding: 0;
  font-size: inherit;
}
/* .lp-markdown pre {
  background-color: hsl(var(--muted)/0.4) !important;
  color: hsl(var(--text)) !important;
}

.lp-markdown pre:hover {
  background-color: hsl(var(--muted)/0.3) !important;
}

.light .lp-markdown pre {
  background-color: hsl(var(--secondary)) !important;
} */

.wmde-markdown img {
  background-color: transparent !important;
}

.lp-markdown table {
  border-collapse: collapse !important;
  margin: 0 0 16px 0 !important;
  width: 100% !important;
}

.lp-markdown table thead, tbody {
  /* display: table !important;
  width: 100% */
}

.lp-markdown th, .lp-markdown td {
  border: 1px solid hsl(var(--border));
  padding: 6px 13px;
}

.lp-markdown th {
  background: hsl(var(--primary)/0.5);
  font-weight: 600;
}

.lp-markdown table tr {
  background-color: unset !important;
  border: unset !important;
}

.lp-markdown table tr:nth-child(2n) {
  background-color: hsl(var(--secondary)/0.7) !important;
  border: unset !important
}

.lp-markdown table tr:hover {
  background-color: hsl(var(--primary)/0.5) !important;
}

.lp-markdown table th, td {
  border: 1px solid hsl(var(--border)) !important;
}

.code-highlight{
  padding: unset !important;
}

.lp-markdown ol {
  margin-bottom: 0.5em !important;
  /* margin-bottom: 0.5em !important; */
}

.lp-markdown h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 24px 0 16px 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #30363d;
}

.lp-markdown h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 24px 0 16px 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #30363d;
}

.lp-markdown h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin: 24px 0 16px 0;
}