extends base/base-document
block content
    body.dark-skin.d-none(data-spy='scroll' data-offset='76')
        .app#app-root
            //ssr-outlet
        script(type='module' src='/src/entry-client.jsx')

    include base/footer-scripts