doctype html
html(class=`${THEME}`, lang='en')
  head
    include base/base-css
    include base/fonts
    include base/fav-icon
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Loopar Framework

    meta(property='og:title' content='Loopar Framework')
    meta(name='author' content='Loopar')
    meta(property='og:locale' content='en_US')
    meta(name='description' content='Loopar Framework')
    meta(property='og:description' content='Loopar Framework')
    meta(property='og:site_name' content='Loopar Framework')

    script(type='application/ld+json').
      {
      "name": "Loopar Framework with Bootstrap 4",
      "description": "Loopar Framework with Bootstrap 4",
      "author": {
        "@type": "alfredrz2012@gmail.com",
        "name": "Alfredo Ramirez"
      },
      "@type": "Loopar",
      "url": "www.loopar.io",
      "headline": "Loopar Framework with Bootstrap 4",
      "@context": "www.loopar.io"
      }

    script.
      window.global = window;      
      const __META__ = !{__META__};
    //ssr-initial-data
  body(class="min-h-screen bg-background font-sans antialiased theme-stone", style='background-color: hsl(var(--background));')
    #loopar-root(style='display: none;')
      //ssr-outlet
    script(type='module' src='/src/entry-client.jsx')

    include base/footer-scripts