doctype html
html(class=`${THEME}`, lang='en')
  head
    link(rel="stylesheet", href="/node_modules/aos/dist/aos.css")
    link(rel="stylesheet" href="/styles/globals.css")
    
    include base/base-css
    include base/fonts
    include base/fav-icon
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Loopar Framework

    meta(property='og:title' content='Loopar Framework')
    meta(name='author' content='Loopar')
    meta(property='og:locale' content='en_US')
    meta(name='description' content='Loopar Framework')
    meta(property='og:description' content='Loopar Framework')
    meta(property='og:site_name' content='Loopar Framework')

    //ssr-modulepreload

    //app-head

    script.
      window.global = window;
    script(id="__loopar-meta-data__", type="application/json").
      !{__META__}

  body(class="min-h-screen font-sans antialiased theme-stone")
    #loopar-root
      //ssr-outlet
      script(type="module", src="/src/entry-client.jsx", async, blocking="render")

    include base/footer-scripts